.ios, .md {
@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900);

  page-login {

    * {
      $font-family-base: "Roboto", sans-serif !default;
      font-weight: 300;
    }

    ion-row {
      height: 100%;
    }

    #logoContainer {
      margin: auto;
    }

    #logo img {
      max-width: 100%;
      height: auto !important;
    }

    ion-col {
      text-align: center;
    }


    .scroll-content {
      display: block;
      flex-direction: column;
      overflow: hidden;
      padding: 0;
    }

    #cloud-layer {
      background-image: url(../assets/images/background.jpg);
      background-color: #fff;
      background-size: cover;
      width: 100%;
      height: 100%;
    }

    ion-app.ios,
    .content-ios {
      background-color: transparent;
    }

    #authenticate {
      background-color: #fff;
      opacity: 0.5;
      display:block;
      max-width: 50%;
      margin-right: auto;
      margin-left: auto;
      text-align: center;
    }

    img {
      margin-right: auto;
      margin-left: auto;
      display: block;
    }

    ion-row {
      height: 100%;
    }

      ion-item {
          border-radius: 30px !important;
          padding-left: 10px !important;
          margin-bottom: 10px;
          background-color: #f6f6f6;
          opacity: 0.7;
          font-size: 0.9em;
      }

      ion-list {
          margin: 0;
      }

      .login-button {
          width: 100%;
          border-radius: 30px;
          font-size: 0.9em;
          border: 1px solid #fff;
          background-color: #39acdc;
      }

      .register-button {
        color: #000000;
        font-size: 0.8em;
        text-transform: uppercase;
      }

      .content-md,
      .scroll-content {
        background-color: transparent;
      }

      .scroll-content {
        top: 30%;
        transform: translateY(-30%);
      }

  }

}
