<div padding id="cloud-layer">

  <ion-content>
    <form (ngSubmit)="login()" #registerForm="ngForm">
      <ion-row>
          <ion-col>
            <ion-list inset>

              <ion-col width-67 id="logoContainer">
                <img ng-src="assets/images/logo.png" src="assets/images/logo.png" id="logo" />
              </ion-col>

                <p>
                  Welcome back {{this.userName}}
                </p>

                <button ion-button class="login-button" type="submit" name="submit" [disabled]="!registerForm.form.valid">Authenticate using Fingerprint!</button>
            </ion-list>
        </ion-col>
      </ion-row>
    </form>
  </ion-content>

</div>
