<ion-header>
  <ion-navbar color="dark">
    <ion-title>Register</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class='register'>
  <form (ngSubmit)="register()" #registerForm="ngForm">
    <ion-row>
        <ion-col>
          <ion-list inset>

            <ion-col width-67 id="logoContainer">
              <img ng-src="assets/images/logo.png" src="assets/images/logo.png" id="logo" />
            </ion-col>

            <ion-item>
              <ion-input type="text" placeholder="First Name" name="firstname" [(ngModel)]="registerCredentials.firstname"></ion-input>
            </ion-item>

            <ion-item>
              <ion-input type="text" placeholder="Email" name="email" [(ngModel)]="registerCredentials.email"></ion-input>
            </ion-item>

            <ion-row>
              <ion-col class="signup-col">
                <button ion-button class="submit-btn" full type="submit" [disabled]="!registerForm.form.valid">Register</button>
              </ion-col>
            </ion-row>
          </ion-list>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
